.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    padding-top: 25px;
}

.select-all-checkbox {
    margin-left: -20px;
}

.checkbox-container {
    padding: 3px;
}
