.container {
    display: flex;
    flex-direction: column;
    width: 130px;
}

.result-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 120px;
    height: 50px;



}

.score  {
    padding: 10px;
}

.score-item {
    padding-bottom: 7px;
}

@media (max-width: 768px) {
    .score-item {
        padding-bottom: 12px;
    }
  }
  

#letter {
    height: 30px;
    font-size: 100px;
}