<div class="container">
    <p id="letter">{{ (japaneseLetter$ | async)?.letter }}</p>

    <div class="result-tracker">
        <div class="score">
            <p class="score-item" style="margin-bottom: -20px;">✅</p>
            <p>{{ wins | async }}</p>
        </div>
        
        <div class="score">
            <p class="score-item" style="margin-bottom: -20px;">❌</p>      
            <p>{{ losses | async }}</p>
        </div>
    </div>

    <div *ngIf="MatchStatusToggleSubject | async">
        <p *ngIf="(successfulMatchSubject | async)"><span style="color: green;">Correct!</span></p>
        <p *ngIf="!(successfulMatchSubject | async)" style="font-size: small; height: 27px;">
            <span style="color: red;">Wrong!</span> It`s <b>"{{ (japaneseLetter$ | async)?.romanji }}"</b>
        </p>
    </div>

    <div *ngIf="!(MatchStatusToggleSubject | async)">
        <p style="color: black;">.</p>
    </div>
</div>